@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';

/*
	Big Picture by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Loader */

	body {
		&:before,
		&:after {
			display: none !important;
		}
	}

/* Poptrox */

	.poptrox-popup .loader {
		display: none !important;
	}